html
    head
        title Pulke test
        style
          | .ball {position: absolute; background: red; border-radius: 100%;
          | width: 10%; height: 10%; transform: translate(-50%, -50%)}
          | #canvas { width: 200px; height: 200px; overflow: hidden; position: relative }
    body Hello
        #canvas
            .ball
            .textbox
